name: Deploy to FTP

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftpcluster.loopia.se
          username: keyhan
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: public_html/
